In [4]:
#Import pandas
import pandas as pd

In [44]:
#Import the dataset
dataset = pd.read_csv("CareerPredictionDataset.csv")

In [45]:
#View the dataset
dataset.head()

,Sr.No.,Course,Job profession,Student,Linguistic,Musical,Bodily,Logical - Mathematical,Spatial-Visualization,Interpersonal,...,Naturalist,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1.0,NaN,Astronomer\n,S1,11.0,5.0,12.0,16.0,17.0,11.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Astronomer\n,S2,12.0,6.0,12.0,16.0,16.0,11.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Astronomer\n,S3,13.0,7.0,12.0,16.0,15.0,11.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Astronomer\n,S4,14.0,8.0,12.0,16.0,19.0,11.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Astronomer\n,S5,13.0,9.0,12.0,16.0,20.0,11.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
print(dataset['Unnamed: 12'])

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3994   NaN
3995   NaN
3996   NaN
3997   NaN
3998   NaN
Name: Unnamed: 12, Length: 3999, dtype: float64

In [47]:
#Drop the last 12-20 columns
dataset.drop(['Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',], axis=1, inplace=True)

In [48]:
#Drop columns 1 and 2
dataset.drop(['Sr.No.', 'Course', 'Student'], axis=1, inplace=True)

In [50]:
#Save dataset to csv file
dataset.to_csv('testDataset.csv', index=False)

#Show the dataset
print(dataset)

     Job profession  Linguistic  Musical  Bodily  Logical - Mathematical  \
0      Astronomer\n        11.0      5.0    12.0                    16.0
1      Astronomer\n        12.0      6.0    12.0                    16.0
2      Astronomer\n        13.0      7.0    12.0                    16.0
3      Astronomer\n        14.0      8.0    12.0                    16.0
4      Astronomer\n        13.0      9.0    12.0                    16.0
...             ...         ...      ...     ...                     ...
3994            NaN         NaN      NaN     NaN                     NaN
3995            NaN         NaN      NaN     NaN                     NaN
3996            NaN         NaN      NaN     NaN                     NaN
3997            NaN         NaN      NaN     NaN                     NaN
3998            NaN         NaN      NaN     NaN                     NaN

      Spatial-Visualization  Interpersonal  Intrapersonal  Naturalist
0                      17.0           11.0           18.0        19.0
1                      16.0           11.0           18.0        19.0
2                      15.0           11.0           18.0        19.0
3                      19.0           11.0           18.0        19.0
4                      20.0           11.0           19.0        19.0
...                     ...            ...            ...         ...
3994                    NaN            NaN            NaN         NaN
3995                    NaN            NaN            NaN         NaN
3996                    NaN            NaN            NaN         NaN
3997                    NaN            NaN            NaN         NaN
3998                    NaN            NaN            NaN         NaN

[3999 rows x 9 columns]

In [51]:
#Count Nan
nan_counts_col = dataset.isna().sum()
print(nan_counts_col)

Job profession            399
Linguistic                399
Musical                   399
Bodily                    399
Logical - Mathematical    399
Spatial-Visualization     399
Interpersonal             399
Intrapersonal             399
Naturalist                399
dtype: int64

In [55]:
#Remove na value
dataset = dataset.dropna()

In [56]:
#Save to csv file
dataset.to_csv('testDataset.csv', index=False)

In [53]:
#Get unique jobs
unique_jobs = dataset['Job profession'].unique()
print(unique_jobs)

['Astronomer\n' 'Geologist' 'Marine Biologist\n' 'Veterinarian'
 'Nature photographer' 'Recording engineer' 'Audiologist' 'Sound editor'
 'Music teacher' 'Actuary' 'Chartered Accountant' 'Computer analyst'
 'Computer programmer' 'Database designer' 'Economist' 'Librarian'
 'Engineer' 'Lawyer' 'Pharmacist' 'Physician' 'Physicist' 'Mathematician'
 'Leader' 'Manager' 'Politician' 'Social Worker' 'Receptionist'
 'Sales Representative' 'Counselor' 'Athlete' 'Dancer' 'Mechanic'
 'Actor / Actress' 'Physical Therapist' 'Editor' 'Historian' 'Journalist'
 'Language Teacher' 'Poet' 'Broadcaster' 'Artist' 'Graphic Designer'
 'Fashion Designer' 'Interior Decorator' 'Pilot' 'Psychologist'
 'Philosopher' 'Writer' 'Criminologist' 'Company secretary' 'Marketing'
 'Logistics manager' 'Research analyst' 'Business manager'
 'Internal auditor' 'Chief financial officer' 'Business Analyst' 'Banking'
 'Stock Broker' 'Financial Advisor' 'Consultant' 'Archeologist'
 'Pre Primary Teacher (2020 NEP and Mental Health)' 'Primary Teacher'
 'Middle, Higher School Teacher and Professors' 'Anthropologist' 'Medical'
 'Para Medical (physiotherapy, occupational theropy, audio and speech language theropy, nursing)'
 'Militry'
 'Para Militry (https://en.wikipedia.org/wiki/Paramilitary_forces_of_India)'
 'Police Force (Spies, CBI officials, CID, Detectives)' 'Technician' nan]

In [27]:
#Import the required libraries
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [28]:
#Rename dataset to data to manipulate it
data = dataset

#Split the data into features and target variable
x = data.drop('Job profession', axis=1)
y = data['Job profession']

In [29]:
#Convert the data in y to numbers
le = LabelEncoder()
y = le.fit_transform(y)
y = y.reshape(-1, 1)

In [30]:
#Create the train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [31]:
#Check
x_train.head()

,Linguistic,Musical,Bodily,Logical - Mathematical,Spatial-Visualization,Interpersonal,Intrapersonal,Naturalist
1575,6.0,8.0,18.0,17.0,12.0,13.0,9.0,14.0
506,13.0,5.0,13.0,15.0,7.0,16.0,13.0,6.0
3593,6.0,6.0,17.0,14.0,11.0,18.0,14.0,12.0
3562,5.0,6.0,20.0,13.0,12.0,17.0,11.0,13.0
3220,14.0,11.0,13.0,17.0,7.0,17.0,18.0,10.0

In [32]:
#Standardize the features
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)
y_train = scaler.fit_transform(y_train)
y_test = scaler.transform(y_test)

In [35]:
#Check
x_train

array([[0.06666667, 0.2       , 0.86666667, ..., 0.61111111, 0.26666667,
        0.7       ],
       [0.53333333, 0.        , 0.53333333, ..., 0.77777778, 0.53333333,
        0.3       ],
       [0.06666667, 0.06666667, 0.8       , ..., 0.88888889, 0.6       ,
        0.6       ],
       ...,
       [0.73333333, 0.        , 0.4       , ..., 0.83333333, 0.73333333,
        0.25      ],
       [0.06666667, 0.06666667, 0.86666667, ..., 1.        , 0.46666667,
        0.6       ],
       [0.73333333, 1.        , 1.        , ..., 0.55555556, 0.6       ,
        0.3       ]])

In [39]:
#Build the simple neural network
model = tf.keras.Sequential([
    tf.keras.layers.Dense(256, activation='relu', input_shape=(x_train.shape[1],)),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1)  # Output layer, adjust activation based on your problem
])

c:\Users\user\anaconda3\envs\env1\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [40]:
#Compile the model
model.compile(optimizer='adam', loss='mse', metrics=['accuracy'])

In [43]:
#Train the model 
model.fit(x_train, y_train, epochs=10, batch_size=150, validation_split=0.1)

Epoch 1/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.0999 - loss: 0.0986 - val_accuracy: 0.1063 - val_loss: 0.0993
Epoch 2/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.1099 - loss: 0.0999 - val_accuracy: 0.1063 - val_loss: 0.1004
Epoch 3/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.0991 - loss: 0.1000 - val_accuracy: 0.1063 - val_loss: 0.0993
Epoch 4/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.0704 - loss: 0.0984 - val_accuracy: 0.1063 - val_loss: 0.1009
Epoch 5/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.0957 - loss: 0.0991 - val_accuracy: 0.1063 - val_loss: 0.0994
Epoch 6/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.0941 - loss: 0.0988 - val_accuracy: 0.1063 - val_loss: 0.0994
Epoch 7/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.0996 - loss: 0.1006 - val_accuracy: 0.1063 - val_loss: 0.0994
Epoch 8/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.1024 - loss: 0.0963 - val_accuracy: 0.1063 - val_loss: 0.0995
Epoch 9/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0938 - loss: 0.0970 - val_accuracy: 0.1063 - val_loss: 0.0993
Epoch 10/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.1063 - loss: 0.1016 - val_accuracy: 0.1063 - val_loss: 0.0993